<div class="hero-unit">
<h1>Welcome to The Moochi!</h1>
<p>
    You've found the home page for the 
    <%= link_to "The Moochi", "http://millersportsclinic.com" %> 
    application.
</p>
<p>
    <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btw-large" %>
</p>
</div>
